<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>
  
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
  
  <MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="5"/>

  <UnicastBusConfig>
	  <MessageEndpointMappings>
		  <add Messages="HumanResources.Messages.Events.EmployeeLeft, HumanResources.Messages" Endpoint="humanresources.messagehandlers" />
		  <add Messages="Finance.Messages.Events.AccountSuspended, Finance.Messages" Endpoint="finance.messagehandlers" />
	  </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>
